
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;800&family=Lemonada:wght@300;400&family=Manrope:wght@200;400;700;800&family=Playfair+Display:ital,wght@0,400;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply font-body text-t3 font-light text-color-5-900;
  }
  
  .container-fluid {
    @apply w-[100%];
    max-width:100% !important;
  }
  
  a:not(.menu-item-link a), a:not(.menu-item-link a):active {
    text-decoration: underline;
    @apply underline text-info-950;
  }

  a:hover {
    @apply text-secondary-500;
  }

  h1 {
    @apply font-display text-t9;
  }

h2 {
    @apply font-subheading text-t7;
}

  h3, h4, h5, h6, h7, h8 {
    @apply uppercase font-bold text-color-5-800;
  }

  nav a:hover, footer a:hover {
    @apply hover:text-warning-150;
  }
}

@layer components {
  .btn {
    border-radius: theme('spacing.s14');
    padding: theme('spacing.4') theme(spacing.6);
    box-shadow: theme('boxShadow.md');
    font-family: theme('fontFamily.subheading');
    text-transform: uppercase;
    background-color: theme('colors.primary.DEFAULT');
  }

    .btn:hover {
      @apply font-bold bg-blend-screen;
    }

  .btn-info {
    background-color: theme('colors.info.950');
    color: theme('colors.primary.100');
  }

  .btn-primary {
    background-color: theme('colors.color-5.DEFAULT');
    color: theme('colors.primary.500');
  }
  
  .btn-secondary {
    background-color: theme('colors.secondary.500');
    color: theme('colors.warning.150');
  }

  .btn-warning {
    background-color: theme('colors.warning.DEFAULT');
  }

  .social-icons a {
     @apply text-info-950;
  }
}

@layer utilities {
 
.sub-title {
    @apply text-t8 font-subheading font-bold capitalize text-color-4-500;
} 

    .heading {
      @apply text-t5 font-heading font-bold text-color-4-600;
    }

  .display-title {
    @apply text-t9 font-display italic;
  }

  .quote-text {
    @apply font-display italic text-t5;
  }

    .img-top {
      @apply md:mb-16;
    }

  .img-bottom {
    @apply md:my-16;
  }
  

  .quote-text sub {
    bottom: -0.6em;
  }

  .quote-text sup {
    top: -0.25em;
  }

  .quote-text sup, .quote-text sub {
    @apply text-t6;
  }

  .styled-ul {
    @apply p-0 my-2
  }
  
  .styled-ul li {
    @apply flex items-center mb-1 py-1 pl-2 rounded-md space-x-2 odd:bg-color-5-450 odd:bg-opacity-10 odd:text-primary-800 even:text-color-5-600;
  }
}