extends templates/_page.pug

block hero-image
  // Article section with 2 columns
  - var displayText = "Who We are!";
  - var subHeadingText = "About us";
  img(src="about-page-image1.png", alt="SF Solutions", class="lg:w-[90%] lg:float-right hidden md:block")
block hero-text 
  | <strong>Solutions by SF</strong> has an overall philosophy and mission to promote the exponential investment in the people we work with, empowering personal growth and professional progress. As such, we have Partners that we work together with in delivering excellent service towards achieving our clients' objectives.
block content
  section
    .container.p-4(class="lg:p-12 md:p-8")
      +heading("Meet The Team...","mb-12",1)
  section(class="flex flex-wrap")
    article.w-full(class="md:w-1/2 lg:w-[55%]")
      .container-fluid(class="w-full md:w-inherit p-4 md:p-8 lg:p-12 lg:pr-32 rounded-br-[15vw] text-secondary-500")
        figure
          img(src="about-page-image2.jpg",class="border-2 w-4/6 shadow-lg rounded-full my-4")
        div(class="md:mt-20")
          h2(class="font-light font-subheading normal-case") Chief Growth Officer and Founder
          h2(class="font-body italic font-bold") Shermica Farquhar
          p.my-4(class="mb-20") She holds an MBA from The University of Chicago Booth School of Business with a focus on Entrepreneurship, Strategic Management, and Managerial & Organizational Behavior, and a B.S. in Business Administration with concentrations in International Business and Marketing from Georgetown University.
    article.w-full.relative(class="md:w-1/2 lg:w-[45%]")
      div(class="p-4 md:p-8 lg:p-24 flex flex-col bg-color-4-500 md:rounded-b-full text-primary-100")
        figure(class="order-1 md:order-2")
          img(src="about-page-image3.jpg",class="w-4/6 mx-auto shadow-lg rounded-full my-4")
        .container(class="order-2 mx-auto md:order-1 ")
          h2(class="font-light font-subheading normal-case") Senior Consultant
          h2(class="font-body italic font-bold") Jazelle Hunt
          p.my-4(class="mb-20") Jazelle Hunt helps clients gather and mine their data for compelling narratives that build consensus, crystalize goals, and draw funders and supporters. With her support, Solutions by SF generates finished products that are effective, error-free, and engaging
  header.p-4(class="md:p-8 lg:p-12")
    +heading("Our Key Partners","normal-case",1) 
  +section-column("2","md:gap-y-4 lg:columns-3 p-4 md:p-8 lg:p-12")
    each person in data.staff
      - var file = person.name.replaceAll(" ","-")
      .article(class="text-center md:text-left md:pr-4 mb-4")
        .container-fluid(class="md:container md:flex md:flex-row")
          figure(class="text-center md:w-1/3 lg:w-2/5 md:text-left")
            img.rounded-full(src= file+".jpg",class="mx-auto mb-4 md:mx-1 w-1/2 md:w-full border-2 border-secondary-500")
          .container-fluid(class="md:pl-4 lg:p-12 md:container flex flex-1 flex-col lg:flex-auto md:justify-center")
            h3(class="font-body italic font-bold lg:text-lg")= person.name
            h3(class="font-light font-subheading normal-case lg:text-md")= person.position
            p.mb-4
              a(href="").uppercase.text-t1 Read More
            p.my-4.w-full= requireF(file)